.footer {
	padding: 10px 0;

	.copyright {
		margin: 0;
	}

	.footer-right-contents {
		text-align: right;

		.footer-privacy-policy {
			display: inline-block;
			text-align: right;
		}

		.footer-social-links {
			display: inline-block;
			text-align: right;

			a {
				display: inline-block;
				padding: 0 6px;
			}
		}
	}
}