/* -------------------------------------------------------------------
General Styles - Activity
------------------------------------------------------------------- */

[class*=swiper]:focus {
  outline: none;
}

#text-flow {
  .swiper-slide {
    text-decoration: none;
    color: #333;
  }

  .text {
    overflow: hidden;
  }

  .text .swiper {
    overflow: visible;
  }

  .text .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  .text .swiper-slide {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 250px;
    display: flex; // フレックスボックスに
    align-items: center; // 縦方向中央
    justify-content: center; // 横方向中央（必要なら）

    p.font-alt {
      font-size: clamp(80px, 20vh, 250px);
      display: flex;
      align-items: center; // 縦方向中央
      justify-content: center; // 横方向中央（必要なら）
      line-height: 1;
      margin: 0;
      text-align: center;
      opacity: 0.5;
    }
  }

  .text .slide {
    overflow: hidden;
    border-radius: 4px;
  }
}